<div class="body">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<div class="row">
			<div class="page-header">
				<h2>商品一覧</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-md-offset-1">
				<section class="items_table">
					<table class="table table-hover">
						<thead>
							<tr class="active">
								<th>商品ID</th>
								<th>商品名</th>
								<th>税抜価格</th>
								<th>ジャンル</th>
								<th>ステータス</th>
							</tr>
						</thead>
						<tbody>
							<% @items.each do |item| %>
							 	<tr>
							 		<td><%= item.id %></td>
							 		<td><%= item.name %></td>
							 		<td><%= item.price %></td>
							 		<td><%= item.genre.name %></td>
							 		<td><% if item.is_active == true %>
							 			<p>有効</p>
							 			<% else %>
							 			<p>無効</p>
							 			<% end %>
							 		</td>
							 	</tr>
							 <% end %>
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</div>
</div>