<div class="body">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<div class="row">
			<div class="page-header">
				<h2>商品一覧</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<%= link_to new_admin_item_path do %>
					<i class="fas fa-plus-circle fa-2x fa-pull-right"></i>
				<% end %>
				<section class="items_table">
					<table class="table table-hover">
						<thead>
							<tr class="active">
								<th>商品ID</th>
								<th>商品名</th>
								<th>税抜価格</th>
								<th>ジャンル</th>
								<th>おすすめ</th>
								<th>ステータス</th>
							</tr>
						</thead>
						<tbody>
							<% @items.each do |item| %>
							 	<tr>
							 		<td><%= item.id %></td>
							 		<td><%= link_to item.name, admin_item_path(item.id) %></td>
							 		<td><%= item.price %></td>
							 		<td><%= item.genre.name %></td>
							 		<td><% if item.favorite == true %>
							 			<p>おすすめ商品</p>
							 			<% end %>
							 		</td>
							 		<td><% if item.is_active == true %>
							 			<p>販売中</p>
							 			<% else %>
							 			<p>販売停止中</p>
							 			<% end %>
							 		</td>
							 	</tr>
							 <% end %>
						</tbody>
					</table>
					<%= paginate @items %>
				</section>
			</div>
		</div>
	</div>
</div>