<div class="body">
	<div class="container">
		<%= render "layouts/error_messages", hoge: @customer %>
		<div class="row">
			<div class="page-header">
				<h3><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h3>
			</div>
		</div>

		<div class="form-horizontal">
		<%= form_for(@customer, url: admin_customer_path(@customer.id), method: :put) do |f| %>
			<div class="form-group" style="margin: 1em;">
				<div class="col-xs-3">
				<label for="id">顧客ID</label></div>
				<div class="col-xs-6">
				<%= :id %></div>
			</div>

			<div class="form-group" style="margin: 1em;">
				<div class="col-xs-3">
			    <label for="name">氏名</label></div>
			    <div class="col-xs-6">
			    <%= f.text_field :last_name %> <%= f.text_field :first_name %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<div class="col-xs-3">
			    <label for="name_kana">フリガナ</label></div>
			    <div class="col-xs-6">
			    <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<div class="col-xs-3">
		    	<label for="postal_code">郵便番号</label></div>
		    	<div class="col-xs-6">
		    	<%= f.text_field :postal_code %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<div class="col-xs-3">
		    	<label for="address">住所</label></div>
		    	<div class="col-xs-6">
		    	<%= f.text_field :address %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<div class="col-xs-3">
		    	<label for="tel">電話番号</label></div>
		    	<div class="col-xs-6">
		    	<%= f.text_field :tel %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<div class="col-xs-3">
		    	<label for="email">メールアドレス</label></div>
		    	<div class="col-xs-6">
		    	<%= f.text_field :email %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<div class="col-xs-3">
		    	<label for="is_deleted">会員ステータス</label></div>
		    	<div class="col-xs-6">
		    	<%= f.select :is_deleted, [["有効", false], ["退会済み", true]], :prompt => false %></div>
		    </div>

		    <div class="form-group" style="margin: 1em;">
		    	<%= f.submit "変更を保存", class:"btn btn-primary btn-sm" %>
		    </div>
		<% end %>
		</div>
	</div>
</div>

