<section class="slice slice-lg sct-color-1">
	<div class="container">
		<%= render 'layouts/error_messages', hoge: @genre %>
		<div class="row">
			<div class="page-header　text-left">
				<h2>ジャンル編集</h2>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-2">
            <div class="form-horizontal">
            	<%= form_for(@genre, url: admin_genre_path(@genre.id)) do |f| %>
	            	<div class="form-group">
	            		<%= f.label :name, "ジャンル名", class: "col-sm-4" %>
	            		<%= f.text_field :name, class: "form-control" %>
	            	</div>
	            	<div class="form_group">
	            		<label><%= f.radio_button :is_active, :true %>有効</label>
	            		<label><%= f.radio_button :is_active, :false %>無効</label>
	            	</div>
	            		<%= f.submit "更新", class:"btn btn-primary" %>
	            <% end %>
            </div>
        </div>
    </div>
</section>
