<section class="slice slice-lg sct-color-1">
	<div class="container">
		<%= render 'layouts/error_messages', hoge: @genre %>
		<div class="row">
			<div class="page-header　text-left">
				<h2>ジャンル一覧・追加</h2>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-2">
            <div class="form-inline">
            	<%= form_for(@genre, url: admin_genres_path) do |f| %>
	            	<div class="form-group">
	            		<%= f.label :name, "ジャンル名", class: "col-sm-4" %>
	            		<%= f.text_field :name, class: "form-control" %>
	            	</div>
	            	<div class="form_group">
	            		<%= f.radio_button :is_active, :true, checked: true %>
	            		<%= f.label :is_active, "有効", value: :true %>
	            		<%= f.radio_button :is_active, :false %>
	            		<%= f.label :is_active, "無効", value: :false %>
	            	</div>
	            		<%= f.submit "追加", class:"btn btn-primary" %>
	            <% end %>
            </div>
        </div>

    	<div class="row">
      		<div class="col-md-6 col-md-offset-2">

	        	<table class="table">
	        		<thead>
	        			<tr>
	        				<th>ジャンル</th>
	        				<th>状態</th>
	        				<th colspan="3"></th>
	        			</tr>
	        		</thead>
	        		<tbody>
	        			<% @genres.each do |item| %>
	        			<tr>
	        				<td><%= item.name %></td>
	        				<td></td>
	        				<td><%= link_to "編集する", edit_admin_genre_path(item.id), class:"btn btn-primary" %></td>
	        			</tr>
	        			<% end %>
	        		</tbody>
	        	</table>

      		</div>
      	</div>
  	</div>
</section>