<div class="body">
	<div class="container">
		<div class="row">
			<div class="page-header col-xs-11 center-block">
				<h3>注文一覧</h3>
			</div>
		<div class="row">
			<table class="table table-bordered">
        		<thead class="active">
        			<tr style>
        				<th>注文日</th>
        				<th>配送先</th>
        				<th>注文商品</th>
        				<th>支払い金額</th>
        				<th>ステータス</th>
        				<th>注文詳細</th>
        			</tr>
        		</thead>
        		<tbody>
        			<% @orders.each do |order| %>
        			<tr style>
        				<td><%= l(order.created_at, format: :short) %></td>
        				<td><%= order.postal_code %><br /><%= order.address %><br /><%= order.name %></td>
        				<td><% order.order_details.each do |order_detail| %>
        					<%= order_detail.item.name %>
        					<% end %>
        				</td>
        				<td><%= order.total_payment %></td>
        				<td><%= order.status %></td>
        				<td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary btn-sm" %></td>
        			</tr>
        			<% end %>
        		</tbody>
        	</table>
        </div>
    </div>
</div>