<div class="body">
	<div class="container">
		<%= render 'layouts/error_messages', hoge: @order %>

		<div class="row">
			<div class="center-block">
				<h2 class="page-header pull-left">注文情報入力</h2>
			</div>
		</div>

		<div class="row">
			<%= form_with(model: @order, url: order_confirm_path, method: :post) do |f| %>
			<div class="form-group">
				<%= f.radio_button :payment_method, '0' %>
				<%= f.label :payment_method, 'クレジットカード', value: 0 %><br />
				<%= f.radio_button :payment_method, '1' %>
				<%= f.label :payment_method, '銀行振込', value: 1 %>
			</div>
			<div class="form-group">
				<%= f.radio_button :address, '' %>
				<%= f.label :address do %>
					<%= current_customer.postal_code %>
					<%= current_customer.address %><br />
					<%= current_customer.name %>
				<% end %>
			</div>

			<div class="form-group">
			</div>
			<% end %>
		</div>
	</div>
</div>