<section class="items">
  <div class="container">
          <%= render 'genre_search.html.erb', genres: @genres %>

          <div class="col-xs-10">

            <div class="wrapper-title">
              <% if @genre.present? %>
                <h3><%= @genre.name %>一覧</h3>
              <% else %>
                <h3>商品一覧</h3>
              <% end %>

              <div class="item-list">
                <ul class="list-group">
                <% @items.each do |item| %>
                  <li class=" list-group-item col-xs-6 col-md-3" style="border: none;">
                    <%= attachment_image_tag item, :image, fallback:"no_image.jpg", size: '127x89', class:"img-responsive center-block" %>
                    <div class="item-body">
                      <h5><%= link_to item.name, item_path(item.id) %></h5>
                      <p><%= number_to_currency(item.price) %> (+税)</p>
                    </div>
                  </li>
                <% end %>
                </ul>
              </div>

              <%= paginate @items %>
            </div>

          </div>

  </div>
</div>