<section class="slice slice-lg sct-color-1">
  	<div class="container-fluid mansory-container">
      <div class="row">

  			<div class="col-xs-6 col-sm-3 col-md-2">
          <div class="masonry-wrapper-cols">
            <div class="masonry-gutter"></div>
              <div class="genre-search" style="text-align: center;">
          			<div class="panel panel-default">
          				<div class="panel-heading">
          				ジャンル検索
          				</div>
          				<div class="list-group">
          					<% @genres.each do |genre| %>
          						<div class="list-group-item">
          						<%= genre.name %>
          						</div>
          					<% end %>
          				</div>
        		    </div>
              </div>
          </div>
      	</div>

    		<div class="col-xs-6 col-sm-9 col-md-10">
          <div class="mansory-wrapper-cols">
            <div class="masonry-gutter"></div>
      		    <div class="page-header text-left">
      				  <h1>商品一覧</h1>
      		    </div>

              <div class="page-body">
                  <% @items.each do |item| %>
                  <div class="col-md-3">
                    <div class="block-image">
                      <%= attachment_image_tag item, :image %>
                    </div>
                    <div class="block-content">
                      <p><%= item.name %></p>
                      <p>¥<%= item.price %>(+税)</p>
                    </div>
                  </div>
                  <% end %>
              </div>

              <%= paginate @items %>
          </div>
        </div>

      </div>
	 </div>
</section>