<div class="body">
	<div class="container">
		<div class="row">
			<div class="page-header"></div>
			<%= render 'genre_search.html.erb', genres: @genres %>
			<div class="col-xs-6 col-sm-9 col-md-10">
				<section class='item_image_box'>
					<div class="col-xs-5 text-right">
						<%= attachment_image_tag @item, :image, format: 'jpeg', fallback:"no_image.jpg", size: '127x89' %>
					</div>
				</section>
				<div class="col-xs-7">
		                <div class="row" style="height:3em;">
			                <p class="lead"><strong><%= @item.name %></strong></p>
		            	</div>
		            	<div class="row" style="height:5em;">
			                <%= @item.introduction %>
		            	</div>
		            	<div class="row" style="height:4em;">
			                <p><strong>¥<%= tax_added_currency(@item.price, 1.1) %> (税込)</strong></p>
		            	</div>

		            	<div class="row" style="height:3em;">
		            		<div class="form-inline">
		            			<%= form_for(@cart_item, url: cart_items_path(item_id: @item.id)) do |f| %>
		            			<div class="form-group">
		            				<div class="input-group">
		            				<%= f.text_field :quantity, class:"form-control", placeholder:"個数を入力してください" %><span class="input-group-addon">個</span>
		            				</div>
		            			</div>
		            			<%= f.submit "カートに入れる", class:"btn btn-primary col-xs-3 col-xs-offset-9" %>
		            			<% end %>
		            		</div>
		            	</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>