<section class="slice slice-lg sct-color-1">
  	<div class="container">
      <p id="notice"><%= notice %></p>
  		<%= render 'genre_search.html.erb', genres: @genres %>

      		<div class="col-xs-10">
            <div id="container">
              <div id="theTarget">
                <div class="image1"></div>
                <div class="image2"></div>
                <div class="image3"></div>
                <div class="image4"></div>
                <div class="image5"></div>
              </div>
            </div>

	        	<div class="jumbotron"　style="background:url(images/mv.jpg); background-size:cover; background-position: center;">
	        		<div class="container">
	        			<p class="lead text-center">
	        				ようこそ、NaganoCakeへ！<br>
	        				このサイトは、ケーキ販売のECサイトになります。<br>
	        				会員でない方も商品の閲覧はできますが、<br>
	        				購入には会員登録が必要になります。
	        			</p>
	        		</div>
				</div>

				<div class="row">
	        		<div class="wrapper-header">
	          			<h3 class="wrapper-title text-left">オススメ商品</h3>
	        		</div>
	        		<div class="item-list">
                		<ul class="list-group">
                		<% @items.each do |item| %>
                  			<li class=" list-group-item col-xs-6 col-md-3" style="border: none;">
                    		<%= attachment_image_tag item, :image, fallback:"no_image.jpg", class:"center-block img-responsive" %>
                    			<div class="list-items">
                      				<%= link_to item.name, item_path(item.id), class:"btn btn-default btn-block", style:"border: none;" %>
                      				<p class="text-center"><%= number_to_currency(item.price) %> (+税)</p>
                    			</div>
                  			</li>
                		<% end %>
                		</ul>
                	</div>
                	<%= paginate @items %>
              </div>

	        	</div>

      		</div>

	</div>
</section>